In [5]:
import pandas as pd
df = pd.read_csv('./DataSet/real_estate_data.csv',sep=',')
df.head()

,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,locality_name,days_exposition
0,13000000.0,108.0,2024-05-15,3,2.70,16.0,51.0,8,NaN,False,False,25.0,NaN,Kyiv,NaN
1,3350000.0,40.4,2024-08-14,1,NaN,11.0,18.6,1,NaN,False,False,11.0,2.0,Brovary,81.0
2,5196000.0,56.0,2023-11-06,2,NaN,5.0,34.3,4,NaN,False,False,8.3,0.0,Kyiv,558.0
3,64900000.0,159.0,2024-03-19,3,NaN,14.0,NaN,9,NaN,False,False,NaN,0.0,Kyiv,424.0
4,10000000.0,100.0,2024-06-12,2,3.03,14.0,32.0,13,NaN,False,False,41.0,NaN,Kyiv,121.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   last_price            23699 non-null  float64
 1   total_area            23699 non-null  float64
 2   first_day_exposition  23699 non-null  object
 3   rooms                 23699 non-null  int64
 4   ceiling_height        14504 non-null  float64
 5   floors_total          23613 non-null  float64
 6   living_area           21796 non-null  float64
 7   floor                 23699 non-null  int64
 8   is_apartment          2775 non-null   object
 9   studio                23699 non-null  bool
 10  open_plan             23699 non-null  bool
 11  kitchen_area          21421 non-null  float64
 12  balcony               12180 non-null  float64
 13  locality_name         23699 non-null  object
 14  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(8), int64(2), object(3)
memory usage: 2.4+ MB

In [9]:
list(df.columns)
map_dict ={
    'last_price': '最终价格',
    'total_area': '总面积',
    'first_day_exposition': '首次挂牌日期',
    'rooms': '房间数',
    'ceiling_height': '层高',
    'floors_total': '总楼层数',
    'living_area': '居住面积',
    'floor': '所在楼层',
    'is_apartment': '是否为公寓',
    'studio': '是否为单间',
    'open_plan': '是否为开放式布局',
    'kitchen_area': '厨房面积',
    'balcony': '是否有阳台',
    'locality_name': '所在地区名称',
    'days_exposition': '挂牌天数'
}
df.rename(columns=map_dict,inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   最终价格      23699 non-null  float64
 1   总面积       23699 non-null  float64
 2   首次挂牌日期    23699 non-null  object
 3   房间数       23699 non-null  int64
 4   层高        14504 non-null  float64
 5   总楼层数      23613 non-null  float64
 6   居住面积      21796 non-null  float64
 7   所在楼层      23699 non-null  int64
 8   是否为公寓     2775 non-null   object
 9   是否为开间     23699 non-null  bool
 10  是否为开放式布局  23699 non-null  bool
 11  厨房面积      21421 non-null  float64
 12  是否有阳台     12180 non-null  float64
 13  所在地区名称    23699 non-null  object
 14  挂牌天数      20518 non-null  float64
dtypes: bool(2), float64(8), int64(2), object(3)
memory usage: 2.4+ MB

In [12]:
df.是否为公寓.unique()

array([nan, False, True], dtype=object)

In [15]:
df.首次挂牌日期.unique()
df['首次挂牌日期'] = pd.to_datetime(df.首次挂牌日期,errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   最终价格      23699 non-null  float64
 1   总面积       23699 non-null  float64
 2   首次挂牌日期    23699 non-null  datetime64[ns]
 3   房间数       23699 non-null  int64
 4   层高        14504 non-null  float64
 5   总楼层数      23613 non-null  float64
 6   居住面积      21796 non-null  float64
 7   所在楼层      23699 non-null  int64
 8   是否为公寓     2775 non-null   object
 9   是否为开间     23699 non-null  bool
 10  是否为开放式布局  23699 non-null  bool
 11  厨房面积      21421 non-null  float64
 12  是否有阳台     12180 non-null  float64
 13  所在地区名称    23699 non-null  object
 14  挂牌天数      20518 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(8), int64(2), object(2)
memory usage: 2.4+ MB

In [16]:
df.首次挂牌日期.unique()

array(['2024-05-15T00:00:00.000000000', '2024-08-14T00:00:00.000000000',
       '2023-11-06T00:00:00.000000000', ...,
       '2021-08-26T00:00:00.000000000', '2022-08-14T00:00:00.000000000',
       '2022-09-19T00:00:00.000000000'], dtype='datetime64[ns]')

In [17]:
# 针对总面积的平均值来计算是否属于公寓
median_total_price = df.最终价格.median()
median_total_area = df.总面积.median()
df['是否为公寓'] = df['是否为公寓'].fillna(
    (df.最终价格 > median_total_price)&(df.总面积 > median_total_area)
).astype('bool')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   最终价格      23699 non-null  float64
 1   总面积       23699 non-null  float64
 2   首次挂牌日期    23699 non-null  datetime64[ns]
 3   房间数       23699 non-null  int64
 4   层高        14504 non-null  float64
 5   总楼层数      23613 non-null  float64
 6   居住面积      21796 non-null  float64
 7   所在楼层      23699 non-null  int64
 8   是否为公寓     23699 non-null  bool
 9   是否为开间     23699 non-null  bool
 10  是否为开放式布局  23699 non-null  bool
 11  厨房面积      21421 non-null  float64
 12  是否有阳台     12180 non-null  float64
 13  所在地区名称    23699 non-null  object
 14  挂牌天数      20518 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(8), int64(2), object(1)
memory usage: 2.2+ MB

In [20]:
# 计算重复值
df.duplicated().sum()

0

In [21]:
df.isnull().sum()

最终价格            0
总面积             0
首次挂牌日期          0
房间数             0
层高           9195
总楼层数           86
居住面积         1903
所在楼层            0
是否为公寓           0
是否为开间           0
是否为开放式布局        0
厨房面积         2278
是否有阳台       11519
所在地区名称          0
挂牌天数         3181
dtype: int64

In [22]:
df.是否有阳台.unique()

array([nan,  2.,  0.,  1.,  5.,  4.,  3.])

In [24]:
df.是否有阳台 = df.是否有阳台.fillna(0)
df.是否有阳台.isnull().sum()

0

In [32]:
null_counts = df.isnull().sum()
columns_with_null = null_counts[null_counts > 0]

层高      9195
总楼层数      86
居住面积    1903
厨房面积    2278
挂牌天数    3181
dtype: int64

In [33]:
missing_ratio = df.厨房面积.isnull().mean()

0.09612219924891345

In [44]:
df.loc[(df['是否为公寓'] == True)&(df['厨房面积'].isna()),'厨房面积'] = 0

In [46]:
null_counts = df.isnull().sum()
columns_with_null = null_counts[null_counts > 0]
columns_with_null

层高      9195
总楼层数      86
居住面积    1903
厨房面积    1599
挂牌天数    3181
dtype: int64

In [50]:
df.厨房面积.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
23694    False
23695    False
23696     True
23697    False
23698    False
Name: 厨房面积, Length: 23699, dtype: bool

In [51]:
df.loc[(df.是否为开间 == True) & (df.居住面积.isna()),'居住面积'] = 0

In [52]:
null_counts = df.isnull().sum()
columns_with_null = null_counts[null_counts > 0]
columns_with_null

层高      9195
总楼层数      86
居住面积    1893
厨房面积    1599
挂牌天数    3181
dtype: int64

In [53]:
df.最终价格.mean() # 均值

6541548.771551542

In [54]:
df.最终价格.median() # 中位数

4650000.0

In [55]:
df["每平方价格"] = df.最终价格/df.总面积

In [57]:
df.每平方价格.mean()

99421.6563946182

In [58]:
df.每平方价格.median()

95000.0

In [59]:
df.总面积.mean()

60.348650997932225

In [60]:
df.总面积.median()

52.0

In [64]:
print(df.房间数.mean())    # 平均数
print(df.房间数.median())  # 中位数
print(df.房间数.mode()[0]) # 众数

2.070635891809781
2.0
1

In [66]:
Last_Price_Range = df.最终价格.max() - df.最终价格.min()
print(Last_Price_Range)

762987810.0

In [67]:
df.最终价格.std() # 标准差

10887013.267544659

In [68]:
IQR = df.最终价格.quantile(0.75) - df.最终价格.quantile(0.25)
print(IQR)

3400000.0